ion-toolbar{
    --background:#8A4B38;
}

ion-title {
    display: block;
    font-weight: 300;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 1px;
    font-size: 15px;
    margin-left: 36px;
    margin-top: 12px;
}

ion-content{
    --background: #F5F8FA;
}

#logoutBtn{
    --background: #D99E82;
    color:white !important;
    z-index: 12 !important;
    position: absolute !important; 
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}
