<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-button fill="clear" style="float: left;" (click)='reload()'><img src="assets/iconSync.svg"></ion-button>
        <ion-title text-center>Coffee Flavours</ion-title>
      <ion-button fill="clear" style="float: right;"(click)='relocate()'><img src="assets/iconAdd.svg"></ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <ion-button (click)="logoutUser()" id="logoutBtn">
        Logout
      </ion-button>
  </ion-content>
</ion-content>
